<div class="text-center">
  <h2>{{title}}</h2>
  
  <p>{{body}}</p>
  <!--<p>Created on format_date date_created</p> -->
  <p>Created on {{created_at}}</p>
  <p>
 {{#each comments as |comment| }}
 <a>{{comment_body}}</a>
 <br>
 <br>
 {{/each}}
  </p>
</div>
