<!-- Loop over each object in the projects array -->
{{#each articles as |article| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/article/{{article.id}}">{{article.title}}</a>
    </h2>
    
  </div>
  <div class="col-md-7">
    <p>
      {{article.body}}
    </p>
  </div>
</div>
{{/each}}
